# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

target

tomcat*

cs6650-lab1-key.pem

setup-ec2.sh

.claude

.DS_Store